allow platform_app time:unix_stream_socket connectto;
allow platform_app proc:file read;

unix_socket_connect(platform_app, adspd, adspd)
allow platform_app proc:file open;
allow platform_app proc:file getattr;
